@use "sass:math";
@function prc($pxOne, $pxTwo) {
  $result: math.div($pxOne, $pxTwo) * 100%;
  @return $result;
}

@function rem($px) {
  $result: math.div($px, 16) + rem;
  @return $result;
}
@function em($px) {
  $result: math.div($px, 16) + em;
  @return $result;
}
@function emm($px, $size) {
  $result: math.div($px, $size) + em;
  @return $result;
}

//buttons
@mixin button($backgroundColor, $backgroundColorHover, $fontColor, $fontColorHover) {
  font-weight: 600;
  font-size: rem(16);
  line-height: rpc(24, 16);
  min-height: rem(48);
  color: $fontColor;
  background: $backgroundColor;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 8px;
  padding: 0px rem(28);

  transition: 0.3s;
  &:hover {
    background: $backgroundColorHover;
    color: $fontColorHover;
    outline: 1px solid $fontColorHover;
  }
  & span {
    color: inherit;
  }
}
